{% extends 'AppBundle::layout.html.twig' %}

{% block body %}

<style type="text/css">
  body {
    background-color: hsla(229, 11%, 5%, 0.92);
    box-shadow: inset 0 0 100% #000;
}
  .text {
    text-align: center;
    vertical-align: middle;
    line-height: 50%;
    color: #fff;
    font-size: 24px;
    font-family: "Courier New", Courier, monospace;
  }
</style>

  <div class="text">
    to be continued..
  </div>

{% endblock %}
